/* ریست ساده برای همسان‌سازی مرورگرها */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption,
blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

button, input, textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
}
